.index {
  width: 100%;
  height: 100%;
}
.index .index-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 360rpx;
  background-image: url('../../static/head/head.png');
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.index .index-head .index-head-text {
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
  font-family: 'SimHei';
}
.index .index-head .index-head-serach {
  display: flex;
  margin-left: 5%;
  width: 60%;
}
.index .index-head .index-head-serach .index-head-icon {
  margin-top: 3.5%;
  margin-left: 10px;
  z-index: 99;
}
.index .index-head .index-head-serach .index-head-input {
  height: 60px;
  width: 100%;
  margin-left: -45px;
  padding-left: 60px;
  background-color: #5cac57;
  border-radius: 30px;
  font-size: 30px;
}
.index .reservation-image {
  padding-top: 1%;
  width: 100%;
  height: 150px;
}
.index .hot-school {
  width: 100%;
  padding: 2%;
}
.index .hot-school .title {
  font-size: 35px;
  font-weight: bold;
  color: #797878;
}
.index .hot-school .container {
  height: 220px;
}
.index .hot-school .container .scrollItem {
  width: 200px;
  margin-right: 10px;
}
.index .hot-school .container .scrollItem .scrollItem-image {
  width: 200px;
  height: 160px;
  border-radius: 10px;
}
.index .hot-school .container .scrollItem .scrollItem-text {
  font-size: 30px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index .school-list {
  width: 100%;
  padding: 2%;
}
.index .school-list .title {
  font-size: 35px;
  font-weight: bold;
  color: #797878;
}
.index .school-list .more {
  float: right;
  margin-right: 4%;
  font-size: 30px;
  padding: 5px 10px;
  border: 1px solid #797878;
  border-radius: 10%;
}
