.personal {
  width: 100%;
  height: 100%;
}
.personal .personal-authentication-title {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin: 2%;
  margin-top: 7%;
}
.personal .personal-authentication-subtitle {
  display: block;
  font-size: 30px;
  margin: 2%;
}
.personal .personal-authentication-form-title {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin: 2%;
  margin-top: 10%;
}
.personal .personal-authentication {
  margin: 3%;
  width: 94%;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  color: #666665;
  background-color: #fff;
}
.personal .personal-authentication .personal-authentication-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 2px solid #ece9e9;
  line-height: 100px;
  padding: 0 20px;
}
.personal .personal-authentication .personal-authentication-item .title {
  font-size: 35px;
}
.personal .personal-authentication .personal-authentication-item .input {
  width: 450px;
  padding: 10px 20px;
  background-color: rgba(252, 240, 240, 0.904);
}
.personal .personal-authentication .submit-btn {
  width: 100%;
  margin-top: 20px;
  background-color: #9bcee2;
  border: 2px solid #9bcee2;
}
.personal .personal-authentication-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.personal .personal-authentication-top .iconfont {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: oldlace;
  background-color: #3ae5f1;
  border-radius: 50%;
}
.personal .personal-authentication-top .title {
  font-size: 33px;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 10%;
}
