.index-swiper {
  width: 96%;
  height: 250px;
  margin-top: -130px;
  margin-left: 2%;
}
.index-swiper .index-swiper-view .index-swiper-image {
  height: 250px;
  width: 100%;
  border-radius: 20px;
}
