.news {
    padding: 2%;

    .news-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .news-content {

        .h5-img {
            height: 500px !important;
            width: 100% !important;
        }
    }

    .news-bottom {
        font-size: 32px;
    }
}