@font-face {
  font-family: "iconfont"; /* Project id 3222299 */
  src: url('//at.alicdn.com/t/font_3222299_t5nrwgd04dn.woff2?t=1650180478539') format('woff2'),
       url('//at.alicdn.com/t/font_3222299_t5nrwgd04dn.woff?t=1650180478539') format('woff'),
       url('//at.alicdn.com/t/font_3222299_t5nrwgd04dn.ttf?t=1650180478539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuexiao_xuexiaoxinxi:before {
  content: "\e661";
}

.icon-jiaobiaoxuanzhong:before {
  content: "\eb0e";
}

.icon-wushuju:before {
  content: "\e642";
}

.icon-zuojiantou:before {
  content: "\e641";
}

.icon-weizhi:before {
  content: "\e8ff";
}

.icon-dianhua:before {
  content: "\e8c3";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-shanchu:before {
  content: "\e690";
}

.icon-tianjia-:before {
  content: "\e607";
}

.icon-xiangji:before {
  content: "\e604";
}

.icon-gengduo:before {
  content: "\e625";
}

.icon-caozuo:before {
  content: "\e606";
}

.icon-dianzan:before {
  content: "\e653";
}

.icon-pinglun:before {
  content: "\e662";
}

.icon-renwuzhongxin-shimingrenzheng:before {
  content: "\e605";
}

.icon-shangla:before {
  content: "\e609";
}

.icon-xiala:before {
  content: "\e656";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-a-shoujihaoshouji:before {
  content: "\e6b2";
}

.icon-yanzhengma:before {
  content: "\e618";
}

.icon-querenmima:before {
  content: "\e666";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-shimingrenzheng:before {
  content: "\e603";
}

.icon-changjianwenti:before {
  content: "\e632";
}

.icon-gerenxinxi_o:before {
  content: "\ebcc";
}

.icon-wodedongtai:before {
  content: "\e69d";
}

.icon-youjiantou:before {
  content: "\e60a";
}

.icon-yuyue:before {
  content: "\e60d";
}

.icon-tongzhi:before {
  content: "\e60b";
}

.icon-morentouxiang:before {
  content: "\e677";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-24gf-newspapers2:before {
  content: "\e8b4";
}

.icon-dongtai:before {
  content: "\e611";
}

.icon-shouye:before {
  content: "\e67b";
}

.icon-wode:before {
  content: "\e674";
}
